<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="QuckCheck.CheckFramework.Listner"/>
</listeners>
  <test thread-count="5" name="Test">
  <parameter name="url" value="https://bookcart.azurewebsites.net/register"></parameter>
  
    <classes>
      <class name="QuckCheck.CheckFramework.Test2"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
